@font-face {
  font-family: "FiraSans";
  src: url("fonts/FiraSans-Medium.woff") format("woff2"),
       url("fonts/FiraSans-Medium.woff") format("woff");
}

:root {
  --main-color: #ae3bb0;
  --secondary-color: #46cfc3;
  --background-color: #f5f5f5;
  --alt-1-color: #3f79c7;
  --alt-2-color: #8a45ba;
  --soft-secondary-color: #46cfc399;
  --sans-serif-font: "FiraSans", sans-serif;

  @media (prefers-color-scheme: dark) {
    --main-color: #46cfc3;
    --secondary-color: #ae3bb0;
    --background-color: #1a1a1a;
  }
}

/* Override UIKit default styles */
.uk-background-primary {
    background-color: var(--background-color) !important;
}

.uk-navbar-item, 
.uk-navbar-nav > li > a, 
.uk-navbar-toggle {
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    font-size: 14px;
    color: var(--main-color) !important;

    &.uk-button {
        background-color: var(--soft-secondary-color) !important;
        color: var(--alt-2-color) !important;
        border-radius: 14px;
        padding: 8px 16px;
        height: auto;
    }

    &:hover {
        color: var(--alt-1-color) !important;

        &.uk-button {
            background-color: var(--secondary-color) !important;
            color: var(--background-color) !important;
        }
    }
}

/* Toggle switch styles */

.slider {
    position: absolute;
    cursor: pointer;
    background-color: var(--soft-secondary-color);
    transition: .4s;
    border-radius: 34px;
    width: 60px;
    height: 100%;
    transition: background-color 0.4s;

    &::before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--alt-2-color);
        transition: transform 0.4s;
        border-radius: 50%;
    }
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
  display: inline-block;
  width: auto;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: var(--secondary-color);

            &::before {
                transform: translateX(26px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.uk-button {
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    font-size: 14px;
}

.uk-button-primary {
    background-color: var(--main-color);
    color: var(--background-color);
}

/* Additional custom styles */
.sans-serif-all-caps {
    font-family: var(--sans-serif-font);
    text-transform: uppercase;

    &.section-heading {
        font-size: 14px;
    }
}

#home-location {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    color: #f5f5f5;
    font-family: var(--sans-serif-font);
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: 2px 1px 2px var(--alt-2-color);

    svg {
        height: 18px;
        margin-top: -4px;
        width: auto;
        fill: #f5f5f5;
        filter: drop-shadow(2px 1px 2px var(--alt-2-color));
    }
}